<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<%- include('partials/head'); %>

    <body id="page-top" class="hidden">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <img src="/img/logo.png" height="50" width="auto" alt="" />
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Kaedim</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#services">Our Process</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#join_list">Join Us!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Masthead -->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Create digital 3D models from text in seconds</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">Leverage the power of our AI system to create digital assets in a fraction of the time, enabling you to find and polish only those that fit your needs.</p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- About Section -->
        <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Spend more time doing what you love.</h2>
                        <hr class="divider light my-4" />
                        <p class="text-white-75 mb-4">
                            We know that there's a lot of repetitive work when creating digital 3D models. Our AI does the boring stuff for you, enabling you to spend more time expressing your creativity by polishing the models that suit you.
                        </p>
                        <a class="btn btn-light btn-xl js-scroll-trigger" href="#join_list">Join Our Waiting List!</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services Section -->
        <section class="page-section" id="services">
            <div class="container">
                <h2 class="text-center mt-0">Our Process</h2>
                <hr class="divider my-4" />
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-keyboard text-primary mb-4"></i>
                            <h3 class="h4 mb-2">A Single Word</h3>
                            <p class="text-muted mb-0">Generate digital 3D models from a single word in seconds!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                            <h3 class="h4 mb-2">One to Many</h3>
                            <p class="text-muted mb-0">Our AI creates many new digital 3D models from your input!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Ready to Polish</h3>
                            <p class="text-muted mb-0">Import the 3D models directly into your favorite design software!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Do What You Love</h3>
                            <p class="text-muted mb-0">Spend less time doing repetitive and boring work!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Call to Action Section -->
        <section class="page-section bg-dark text-white" id="join_list">
            <div class="container text-center">
                <h2 class="mb-4">Want to be one of the first to try Kaedim?</h2>
                <div class="typeform-widget" data-url="https://konstantinapsoma.typeform.com/to/krhqQ1" style="width: 100%; height: 350px;"></div>
                <script>
                    (function() {
                        var qs, js, q, s, d = document,
                            gi = d.getElementById,
                            ce = d.createElement,
                            gt = d.getElementsByTagName,
                            id = "typef_orm",
                            b = "https://embed.typeform.com/";
                        if (!gi.call(d, id)) {
                            js = ce.call(d, "script");
                            js.id = id;
                            js.src = b + "embed.js";
                            q = gt.call(d, "script")[0];
                            q.parentNode.insertBefore(js, q)
                        }
                    })()
                </script>
                <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"></div>
                <!-- <a class="btn btn-light btn-xl" href="https://startbootstrap.com/themes/creative/">Join our list!</a> -->
            </div>
        </section>

        <!-- Contact Section -->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Let's Stay In Touch!</h2>
                        <hr class="divider my-4" />
                        <p class="text-muted mb-5">Interested in what we do? Let’s stay in touch! Send us an email and we will get back to you as soon as possible!</p>
                        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                        <!-- Make sure to change the email address in anchor text AND the link below! -->
                        <a class="d-block" href="mailto:admin@kaedim.com">admin@kaedim.com</a>
                    </div>
                </div>
            </div>
        </section>


        <%- include('partials/footer'); %>

            <%- include('partials/script_section'); %>


    </body>

</html>