<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<%- include('partials/head'); %>

    <body id="page-top" class="hidden">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <img src="/img/movie.png" height="30" width="auto" alt="" />
                <a class="ml-3 navbar-brand js-scroll-trigger" href="/#page-top">MovieTime</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#search">Search</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Masthead -->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Find your favourite films in seconds</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-normal mb-5">Search our database to find the titles that keep you coming back again and again.</p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/#search">Find a Film</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Search Section -->
        <section class="page-section bg-primary" id="search">
            <div class="container text-center">
              <h2 class="text-center mt-0">Search our Database</h2>
              <p class="text-center mt-0">Enter a film title to get started.</p>
              <hr class="divider my-4" />
              <form action="/search" method="get">
                <input id="film_search" class="form-control form-control-lg" name="title" type="text" placeholder="e.g. Inception"></input>
                <button type="submit" class="mt-4 btn btn-secondary btn-xl">Search</button>
              </form>
            </div>
        </section>

        <%- include('partials/footer'); %>

            <%- include('partials/script_section'); %>


    </body>

</html>
