<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<%- include('partials/head'); %>

    <body class="hidden">
        <h1>Error 404 - Item not found!</h1>

        <%- include('partials/footer'); %>

            <%- include('partials/script_section'); %>


    </body>

</html>
